 /* Bordered form */
 .form {
  align-content: center;
  padding-left: 50px;
  justify-content: center;
  padding-bottom: 30px;
 
  background-color:white; 	
}
.container{
  padding-top: 35px;
  display: flex;
  align-content:center;
  justify-content: center;
  background-color: "white";
  color: "black"
}
/********************************************login************************************/
.login{
  width: 464px;
  height: 478px;
  margin: 70px auto;
  padding: 30px;
  padding-top: 10px;
  background-color: white;
}
.titles{
  text-align: center
}
.username{
  display: flex;
  width: 80%;
  flex-direction:row;
  justify-content:center;
  margin-left: 49px;
  margin-right:178px;
}
.loginPass{
  width: 80%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-left:49px;
  margin-right: 178px
}
.signIn1{
  padding-top:10px
}
#signIn2{
  background-color: Royalblue;
  color: white;
  padding: 10px 20px;
  margin: 19px auto;
  margin-left:161px;
  border: none;
  cursor: pointer;
  width: 30%;
  box-align: center
}
.createAcc1{
  display: flex;
  padding:50px;
  padding-top:20px;
  justify-content:space-between;
}

#createAcc1{
  background-color: white; 
  color:RoyalBlue
}
/*******************************************register****************************************/
.title1{
  padding:19px;
  padding-left:43px
}
.flname{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-left:39px;
  margin-right:178px
}
.remail{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-left: 39px;
  margin-right: 178px
}
.rpassword{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-left:39px;
  margin-right:178px;
}
.rbutton{
  display: flex;
  flex-direction:row;
  justify-content:space-between
}
/******************************************reset******************************************/
.reset{
  width: 423px;
  height: 391px;
  margin: 70px auto;
  padding: 30px;
  padding-top: 10px;
  background-color: white;
}
.resettitle{
  text-align: center;
  color: black
}
.resetpass{
  width:80%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-left:47px;
  margin-right:178px;
}
#resetButton{
  background-color:Royalblue;
  color: white;
  padding:10px 20px;
  margin:19px auto;
  margin-left:131px;
  border: none;
  cursor: pointer;
  width: 38%;
  box-align:center;
}
.resetP{
  padding-top: 10px
}
/*************************************forgot password*************************************************/

.forgot{
  width:433px;
  height:347px;
  margin:70px auto;
  padding:30px;
  padding-top:10px;
  background-color:white;
}

.forgottitle{
  text-align:center;
   color:black
}
.femail{
  display:flex;
  width: 80%;
  flex-direction:row;
  justify-content:center;
  margin-left:39px;
  margin-right: 178px;
}
#fButton{
  background-color:Royalblue;
  color: white;
  padding: 10px 20px;
  margin: 19px auto;
  margin-left:125px;
  border: none;
  cursor: pointer;
  width: 40%;
  box-align:center;
}
#fCreate{
  background-color:white;
  color:RoyalBlue;
  padding: 10px 20px;
  margin: 19px auto;
  margin-left:101px;
  border:none;
  cursor:pointer;
  width:50%;
  box-align:center;
}
.fsubmit{
  padding-top:10px
}

/****************************************verifyEmail*************************************/
.verifyEmail{
  width:700px; 
  margin: 70px auto; 
  padding:30px; 
  padding-top:10px; 
  background-color:white;
}
.verifyTitle{
  text-align: center;
   color:black
}
.verifyRoot{
  padding-top:10px;
   padding-left:153px;
}
#verify{
  background-color:RoyalBlue;
  color: white;
  padding: 10px 20px;
  margin: 9px auto;
  border: none;
  cursor:pointer;
  width:70%;
  box-align: center;
}



/* Full-width inputs */
input[type=text]{
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  
  box-sizing: border-box;
}

input[type=email]{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  margin-right: 249px;
  display: inline-block;
  box-sizing: border-box;
}

input[type=password]{
  width: 100%;
  padding: 21px 20px;
  margin: 8px 0;
  display: inline-block;
  
  box-sizing: border-box;

}

/* Set a style for all buttons */
.button {
  background-color: darkkhaki;
  color: white;
  padding: 14px 20px;
  margin: 9px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.longButton {
  background-color: chocolate;
  color: white;
  padding: 14px 20px;
  margin: 9px auto;
  border: none;
  cursor: pointer;
  width: 100%;
  box-align: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: 100%;
  padding: 14px 20px;
  background-color: #f44336;
  margin: 9px auto;
  border: none;
  cursor: pointer;
  box-align: center;
}

/* Add padding to containers */
.container {
  display: 'flex';
  flex-wrap: 'wrap';
}
.sender-div{
  margin-left: 630px;
  background-color: aliceblue;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  margin-bottom: 8px
}
.receiver-div{
  background-color: aliceblue;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  margin-bottom: 8px
}

#chatTextField{
  width: 750px;
  height: 300px;
  margin-top: 0px;
  margin-right: 194px;
}
#chatSendButton{
  width: 150px;
  height: 44px;
  margin-top: 8px;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 18px;
  font-family: bold;
  color: #f1f1f1;
  border-radius: 4px;
  background-color: #4CAF50;
}
#Button{
  width:125px;
  margin-left: 37px;
  margin-right: 188px;
  height: 43px;
  margin-top: 43px;
  background-color: royalblue;
  font-size: 18px;
  font-family: bold;
  color: #f1f1f1;
}

.a { text-decoration: none }


#senderDiv{
  border: "5px solid";
  border-color:  #070707;
  width: "1000px";
  height: "300px";
  margin-Left: "162px";
  margin-Top: "0px";
}
#logoutButton{
  width:200px;
  margin-left: 966px;
  height: 55px;
  margin-top: 15px;
  background-color: royalblue;
  font-size: 18px;
  font-family: bold;
  color: #f1f1f1;

}

.div{

width: 80%;
padding: 12px 20px;
padding-left: 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
padding-left: 1px;
}


.container{
  display: 'flex';
  flex-wrap: 'wrap';
}

.textField{
  margin-left: 'theme.spacing.unit';
  margin-right: 'theme.spacing.unit';
}

.dense{
  margin-top: 16px,
}


/**************************Dashboard****************************************/
.container1{
  display: flex;
  align-content:center;
  justify-content: center;
  background-color: "white";
  color: "black"
}
.menu{
  width: 200px,
}

.MuiAppBar-root-11 {
  width: 100%;
  display: flex;
  z-index: 1100;
  margin-top: -69px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  background-color: aqua
}

.MuiTypography-colorInherit-98 {
  color:goldenrod;
}
.MuiAppBar-colorPrimary-18 {
  color: #fff;
  background-color:rgb(217, 255, 0);
}

.MuiDrawer-paper-61 {
  top: 73px;
  flex: 1 0 auto;
  height: 100%;
  width:240px;
  margin-top: 73px;
  display: flex;
  z-index: 1200;
  outline: none;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
.gb_0a.gb_He {
  padding-right: 4px;
}
.card{
  min-width: 275;
}
.avatar{
  margin: 10,
}


.appbar {
  display:flex;
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-top: 6px;
 
  padding-bottom: 1px;
}


element.style {
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiBackdrop-root-184 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  touch-action: none;

}

.root{
  display: "flex"
}

.grow{
  flex-grow: 1
}

/* .menuButton{
  margin-left: -12px;
  margin-right: 20px;
  color: black
} */

.title{
  display: block;
  color: black;
  padding-left: 39px;
}

.search{
  position: center;
  border-radius: 4px;
  background-color:rgba(0,0,0,0.04);
  margin-right:16px;
  margin-left:24px;
    width: 50% 
}

.searchIcon{
  width: 72px;
  height:100%;
  margin-top: -7px;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.inputRoot{
  color: black;
  width: 100%;
}

.inputInput{
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 80px;
  width: 200 
}
.sectionDesktop{
 
    display: "flex"
}
.sectionMobile{
  display: "flex",
}
.keepImage{
  margin-left:-17px
}
.fundoTitle{
  margin-left: -18px
}
.searchField{
  margin-left: 48px;
}
.appList{
  margin-left: 24px
}
.iconButton{
  margin-left: 212px
}
.dash{
  display:flex
}

/*****************************************side nevigation*******************************/

.menuButton{
  margin-right:44px
}
.hide{
  display: none;
}
.drawer{
  width: 240px;
  flex-shrink: 0
}
.drawerPaper{
  width:240px,
}

/************************************Notes********************************************/
.show{
  justify-content: center;
  
}
.display{
  margin-left: 136px;
  margin-top: 85px
}
.notesCard{
 justify-content: center;
}
.takeNote{
 margin-top: -36px;
 margin-left: -476px;
}
.titleNote{
 margin-left:5px;
 width:378px
 
}
.cardlist{
 margin-left: 352px;
 margin-top: 122px;
}
.closeButton{
 margin-left: 140px;
}
.showcardlist{
  display: flex;
  flex-direction:row;
  justify-content:center;
  margin-left: 24px;
}
.in{
  margin-left: -476px;
  width:478px
}
.pin{
  margin-left: 471px;
  margin-top: -52px
}
.inp{
  margin-left: 480px;
  margin-top: 33px;
  padding-right: 72px
}
.move{
  margin-left: 216px;
  margin-top: 30px
}
.Sign{
  display: flex;
  flex-direction: column;
}
.colorPalleteCard {
  position: absolute;
  max-width: 116px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  transition: 5s;
}
/*******************************************************************/
#createNoteParent {
  margin-left: 5px
}
.createNote {
  margin-left: 5px
}
.staticCreateNote {
  display: flex;
  flex-direction: row
}
.noteInputBase {
  margin-top: 0px;
  width: 460px;
}
.createNote1 {
  height: 100px;
  width: 500px;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 10px;
  text-align: left;
  padding: 11px;
  border: 1px solid #dadce0;
}
.createNotePinIcon {
  display: flex;
  flex-direction: row
}
.titleInput {
  margin-right: 200px;
  width: 460px;
}
.cardToolsClose {
  display: flex;
  justify-content: space-between;
}