 /* Bordered form */
 .form {
  align-content: center;
  padding-left: 50px;
  justify-content: center;
  padding-bottom: 30px;
 
  background-color:white; 	
}
.container{
  padding-top: 35px;
  display: flex;
  align-content:center;
  justify-content: center;
  background-color: "white";
  color: "black"
}
/********************************************login************************************/
.login{
  width: 464px;
  height: 478px;
  margin: 70px auto;
  padding: 30px;
  padding-top: 10px;
  background-color: white;
}
.titles{
  text-align: center
}
.username{
  display: flex;
  width: 80%;
  flex-direction:row;
  justify-content:center;
  margin-left: 49px;
  margin-right:178px;
}
.loginPass{
  width: 80%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-left:49px;
  margin-right: 178px
}
.signIn1{
  padding-top:10px
}
#signIn2{
  background-color: Royalblue;
  color: white;
  padding: 10px 20px;
  margin: 19px auto;
  margin-left:161px;
  border: none;
  cursor: pointer;
  width: 30%;
  box-align: center
}
.createAcc1{
  display: flex;
  padding:50px;
  padding-top:20px;
  justify-content:space-between;
}

#createAcc1{
  background-color: white; 
  color:RoyalBlue
}
/*******************************************register****************************************/
.title1{
  padding:19px;
  padding-left:43px
}
.flname{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-left:39px;
  margin-right:178px
}
.remail{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-left: 39px;
  margin-right: 178px
}
.rpassword{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-left:39px;
  margin-right:178px;
}
.rbutton{
  display: flex;
  flex-direction:row;
  justify-content:space-between
}
/******************************************reset******************************************/
.reset{
  width: 423px;
  height: 391px;
  margin: 70px auto;
  padding: 30px;
  padding-top: 10px;
  background-color: white;
}
.resettitle{
  text-align: center;
  color: black
}
.resetpass{
  width:80%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-left:47px;
  margin-right:178px;
}
#resetButton{
  background-color:Royalblue;
  color: white;
  padding:10px 20px;
  margin:19px auto;
  margin-left:131px;
  border: none;
  cursor: pointer;
  width: 38%;
  box-align:center;
}
.resetP{
  padding-top: 10px
}
/*************************************forgot password*************************************************/

.forgot{
  width:433px;
  height:347px;
  margin:70px auto;
  padding:30px;
  padding-top:10px;
  background-color:white;
}

.forgottitle{
  text-align:center;
   color:black
}
.femail{
  display:flex;
  width: 80%;
  flex-direction:row;
  justify-content:center;
  margin-left:39px;
  margin-right: 178px;
}
#fButton{
  background-color:Royalblue;
  color: white;
  padding: 10px 20px;
  margin: 19px auto;
  margin-left:125px;
  border: none;
  cursor: pointer;
  width: 40%;
  box-align:center;
}
#fCreate{
  background-color:white;
  color:RoyalBlue;
  padding: 10px 20px;
  margin: 19px auto;
  margin-left:101px;
  border:none;
  cursor:pointer;
  width:50%;
  box-align:center;
}
.fsubmit{
  padding-top:10px
}

/****************************************verifyEmail*************************************/
.verifyEmail{
  width:700px; 
  margin: 70px auto; 
  padding:30px; 
  padding-top:10px; 
  background-color:white;
}
.verifyTitle{
  text-align: center;
   color:black
}
.verifyRoot{
  padding-top:10px;
   padding-left:153px;
}
#verify{
  background-color:RoyalBlue;
  color: white;
  padding: 10px 20px;
  margin: 9px auto;
  border: none;
  cursor:pointer;
  width:70%;
  box-align: center;
}



/* Full-width inputs */
input[type=text]{
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  
  box-sizing: border-box;
}

input[type=email]{
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  margin-right: 249px;
  display: inline-block;
  box-sizing: border-box;
}

input[type=password]{
  width: 100%;
  padding: 21px 20px;
  margin: 8px 0;
  display: inline-block;
  
  box-sizing: border-box;

}

/* Set a style for all buttons */
.button {
  background-color: darkkhaki;
  color: white;
  padding: 14px 20px;
  margin: 9px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.longButton {
  background-color: chocolate;
  color: white;
  padding: 14px 20px;
  margin: 9px auto;
  border: none;
  cursor: pointer;
  width: 100%;
  box-align: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: 100%;
  padding: 14px 20px;
  background-color: #f44336;
  margin: 9px auto;
  border: none;
  cursor: pointer;
  box-align: center;
}

/* Add padding to containers */
.container {
  display: 'flex';
  flex-wrap: 'wrap';
}
.sender-div{
  margin-left: 630px;
  background-color: aliceblue;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  margin-bottom: 8px
}
.receiver-div{
  background-color: aliceblue;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  margin-bottom: 8px
}

#chatTextField{
  width: 750px;
  height: 300px;
  margin-top: 0px;
  margin-right: 194px;
}
#chatSendButton{
  width: 150px;
  height: 44px;
  margin-top: 8px;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 18px;
  font-family: bold;
  color: #f1f1f1;
  border-radius: 4px;
  background-color: #4CAF50;
}
#Button{
  width:125px;
  margin-left: 37px;
  margin-right: 188px;
  height: 43px;
  margin-top: 43px;
  background-color: royalblue;
  font-size: 18px;
  font-family: bold;
  color: #f1f1f1;
}

.a { text-decoration: none }


#senderDiv{
  border: "5px solid";
  border-color:  #070707;
  width: "1000px";
  height: "300px";
  margin-Left: "162px";
  margin-Top: "0px";
}
#logoutButton{
  width:200px;
  margin-left: 966px;
  height: 55px;
  margin-top: 15px;
  background-color: royalblue;
  font-size: 18px;
  font-family: bold;
  color: #f1f1f1;

}

.div{

width: 80%;
padding: 12px 20px;
padding-left: 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
padding-left: 1px;
}


.container{
  display: 'flex';
  flex-wrap: 'wrap';
}

.textField{
  margin-left: 'theme.spacing.unit';
  margin-right: 'theme.spacing.unit';
}

.dense{
  margin-top: 16px,
}


/*************************Dashboard***************************************/
/* .container1{
  display: flex;
  align-content:center;
  justify-content: center;
  background-color: "white";
  color: "black"
}
.menu{
  width: 200px,
}

.MuiAppBar-root-11 {
  width: 100%;
  display: flex;
  z-index: 1100;
  margin-top: -69px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  background-color: aqua
}

.MuiTypography-colorInherit-98 {
  color:goldenrod;
}
.MuiAppBar-colorPrimary-18 {
  color: #fff;
  background-color:rgb(217, 255, 0);
}

.MuiDrawer-paper-61 {
  top: 73px;
  flex: 1 0 auto;
  height: 100%;
  width:240px;
  margin-top: 73px;
  display: flex;
  z-index: 1200;
  outline: none;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
.gb_0a.gb_He {
  padding-right: 4px;
}
.card{
  min-width: 275;
}
.avatar{
  margin: 10,
}


.appbar {
  display:flex;
  width: 100%;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-top: 6px;
 
  padding-bottom: 1px;
}


element.style {
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiBackdrop-root-184 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed;
  touch-action: none;

}

.root{
  display: "flex"
}

.grow{
  flex-grow: 1
}

/* .menuButton{
  margin-left: -12px;
  margin-right: 20px;
  color: black
} */

/* .title{
  display: block;
  color: black;
  padding-left: 39px;
}

.search{
  position: center;
  border-radius: 4px;
  background-color:rgba(0,0,0,0.04);
  margin-right:16px;
  margin-left:24px;
    width: 50% 
}

.searchIcon{
  width: 72px;
  height:100%;
  margin-top: -7px;
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.inputRoot{
  color: black;
  width: 100%;
}

.inputInput{
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 80px;
  width: 200 
}
.sectionDesktop{
 
    display: "flex"
}
.sectionMobile{
  display: "flex",
}
.keepImage{
  margin-left:-17px
}
.fundoTitle{
  margin-left: -18px
}
.searchField{
  margin-left: 48px;
}
.appList{
  margin-left: 24px
}
.iconButton{
  margin-left: 212px
}
.dash{
  display:flex
} */ 

/*****************************************side nevigation*******************************/

/* .menuButton{
  margin-right:44px
}
.hide{
  display: none;
}
.drawer{
  width: 240px;
  flex-shrink: 0
}
.drawerPaper{
  width:240px,
} */

/************************************Notes********************************************/
/* .show{
  justify-content: center;
  
}
.display{
  margin-left: 136px;
  margin-top: 85px
}
.notesCard{
 justify-content: center;
}
.takeNote{
 margin-top: -36px;
 margin-left: -476px;
}
.titleNote{
 margin-left:5px;
 width:378px
 
}
.cardlist{
 margin-left: 352px;
 margin-top: 122px;
}
.closeButton{
 margin-left: 140px;
}
.showcardlist{
  display: flex;
  flex-direction:row;
  justify-content:center;
  margin-left: 24px;
}
.in{
  margin-left: -476px;
  width:478px
}
.pin{
  margin-left: 471px;
  margin-top: -52px
}
.inp{
  margin-left: 480px;
  margin-top: 33px;
  padding-right: 72px
}
.move{
  margin-left: 216px;
  margin-top: 30px
}
.Sign{
  display: flex;
  flex-direction: column;
}
.colorPalleteCard {
  position: absolute;
  max-width: 116px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  transition: 5s;
} */
/*******************************************************************/
/* #createNoteParent {
  margin-left: 5px
}
.createNote {
  margin-left: 5px
}
.staticCreateNote {
  display: flex;
  flex-direction: row
}
.noteInputBase {
  margin-top: 0px;
  width: 460px;
}
.createNote1 {
  height: 100px;
  width: 500px;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 10px;
  text-align: left;
  padding: 11px;
  border: 1px solid #dadce0;
}
.createNotePinIcon {
  display: flex;
  flex-direction: row
}
.titleInput {
  margin-right: 200px;
  width: 460px;
}
.cardToolsClose {
  display: flex;
  justify-content: space-between;
}
.display1{
  margin-left: 300px;
  display: flex;
  flex-wrap: wrap;
}
.dash1{
display:flex;
margin-top: 100px;
margin-left: 304px;
 
} */




#appbar {
  background-color: white;
  box-shadow: 0 0;
  border-bottom: 1px solid lightgray;
}

#refresh {
  width: "5px";
  height: "5px";
}

.title {
  margin-left: 10px;
  margin-right: 38px
}

#searchBar {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  max-height: 50px;
  line-height: 2;
  margin-top: 11px;
  background: rgba(0, 0, 0, 0.04)
}

#searchInputBase {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  width: 500px;
}

.userProfileDetails {
  display: flex;
  flex-direction: row
}

#userProfileIcon {
  margin-left: 200px;
}

#account {
  font-family: bold;
  font-size: 15px;
  margin-bottom: 5px
}

#menu {
  color: "gray"
}

#noteMenu {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  height: 30px;
  font-size: .875rem;
  font-weight: 550;
  color: #424242;
}

#reminderMenu {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  height: 30px;
  font-size: .875rem;
  font-weight: 550;
  color: #424242;
}

#archiveMenu {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  height: 30px;
  font-size: .875rem;
  font-weight: 550;
  color: #424242;
}

#labelMenu {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  height: 30px;
  font-size: .875rem;
  font-weight: 550;
  color: #424242;
}

#trashIcon {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  height: 30px;
  font-size: .875rem;
  font-weight: 550;
  color: #202124;
}

.yellow {
  background-color: #feefc3;
  color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px
}

.white {
  background-color: white;
  color: #feefc3;
}

#username {
  color: gainsboro;
  font-size: 12px;
}

.createNote {
  height: 30px;
  width: 500px;
  margin-left: 100px;
  margin-top: 100px;
  text-align: left;
  padding: 11px;
  border: 1px solid #dadce0;
}

.createNote1 {
  height: 100px;
  width: 500px;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 10px;
  text-align: left;
  padding: 11px;
  border: 1px solid #dadce0;
}

#settingsMenuItem {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  height: 5px;
  width: 118px;
  font-size: 14px;
}

.settingsPopper {
  margin-top: 20px;
}

.titleInput {
  margin-right: 200px;
  width: 460px;
}

.staticCreateNote {
  display: flex;
  flex-direction: row
}

.noteInputBase {
  margin-top: 0px;
  width: 460px;
}

.setFixedMargin {
  margin-left: 307px;
  max-width: 800px;
}

.colorPalleteCard {
  position: absolute;
  max-width: 116px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  transition: 5s;
}

/* .colorPalleteCard:hover{
position: absolute;
padding: 10px;
max-width: 136px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
z-index: 2;
} */

.colorPalleteCard div IconButton {
  margin: 5px;
}

.cards {
  width: 240px;
  margin-top: 20px;
  padding-top: 15px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}

.cards:hover .cardTools {
  visibility: visible;
  box-shadow: 2px 2px 2px 2px solid gray
}

.cards:hover .pinIcon {
  visibility: visible
}

.cardsInGrid {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px
}

.CardsView {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}

.listCards {
  width: 500px;
  margin-left: 100px;
  margin-top: 50px;
  text-align: left;
  padding: 11px;
}

.afterSlide {
  margin-left: 50px;
  transition: margin-left 0.25s;
}

.beforeSlide {
  transition: 0.25s
}

.cardToolsClose {
  display: flex;
  justify-content: space-between;
}

.cardTools {
  width: 200px;
  display: flex;
  justify-content: space-between;
  /* visibility: hidden; */
}

.listCards:hover .cardTools {
  visibility: visible
}

.pinIcon {
  visibility: hidden;
}

.listCards:hover .pinIcon {
  visibility: visible
}

#createNotetools {
  display: flex;
  flex-direction: row
}

.createNotePinIcon {
  display: flex;
  flex-direction: row
}

div .listRemindr {
  padding-left: 15px
}

div .currentDate {
  display: flex;
  justify-content: space-between;
}

.pickDateTime {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.moreOptionsPopper {
  margin-top: -95px;
  z-index: -1
}

.addDrawingOptions {
  margin-left: -8px;
  font-family: arial;
  font-size: 15px;
  color: gray
}

#moreOptionsMenu {
  font-family: arial;
  font-size: 15px;
  height: 8px;
}

#editLabelTextField {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  font-weight: 550;
  width: 182px;
  height: 45px;
  color: black;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.editCloseButton {
  margin-left: 195px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.editTitleInput {
  width: 550px;
}

.editNote {
  width: 550px;
}

.editDialog {
  display: flex;
  flex-direction: row;
}

#doneButton {
  margin-left: 300px
}

#appBarIcons {
  display: flex;
  line-height: 3
}

#appBarMenuAndTitle {
  display: flex;
  line-height: 3
}

@media only screen and (min-width:320px) and (max-width:535px) {
  #appBarIcons {
      display: flex;
      line-height: 3
  }
  #appBarMenuAndTitle {
      display: flex;
      line-height: 3
  }
  #userProfileIcon {
      margin-left: 0px
  }
  #searchBar {
      background: none;
      border: none
  }
  #searchInputBase {
      display: none
  }
  .setFixedMargin {
      margin-left: auto;
      max-width: 800px;
  }
  .createNote {
      margin-left: 5px
  }
  .createNote1 {
      margin-left: 5px
  }
  #createNoteParent {
      margin-left: 5px
  }
  /* #cardsViewDiv {
      margin-left: -90px
  } */
  #cardViewIcon {
      display: none
  }
  .listCards {
      width: 500px;
      margin-left: 7px;
      margin-top: 50px;
      text-align: left;
      padding: 11px;
  }
  .cards {
      width: 500px;
      margin-top: 20px;
      margin-left: 7px;
      padding-top: 15px;
      text-align: left;
      padding: 10px;
      border-radius: 10px;
  }
  /* .CardsView {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap
  } */
}

@media only screen and (min-width:536px) and (max-width:600px) {
  #appBarIcons {
      display: flex;
      line-height: 3
  }
  #appBarMenuAndTitle {
      display: flex;
      line-height: 3
  }
  #userProfileIcon {
      margin-left: 0px
  }
  #searchBar {
      background: none;
      border: none
  }
  #searchInputBase {
      display: none
  }
  .setFixedMargin {
      margin-left: auto;
      max-width: 800px;
  }
  .createNote {
      width: auto;
      margin-left: 5px
  }
  .createNote1 {
      width: auto;
      margin-left: 5px
  }
  #createNoteParent {
      margin-left: 5px
  }
  /* #cardsViewDiv {
      margin-left: -90px
  } */
  #cardViewIcon {
      display: none
  }
  .listCards {
      width: auto;
      margin-left: 7px;
      margin-top: 50px;
      text-align: left;
      padding: 11px;
  }
  .cards {
      width: auto;
      margin-top: 20px;
      margin-left: 7px;
      padding-top: 15px;
      text-align: left;
      padding: 10px;
      border-radius: 10px;
  }
  /* .CardsView {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap
  } */
}

@media only screen and (min-width:601px) and (max-width:774px) {
  #appBarIcons {
      display: flex;
      line-height: 3
  }
  #appBarMenuAndTitle {
      display: flex;
      line-height: 3
  }
  #userProfileIcon {
      margin-left: 0px
  }
  #searchBar {
      background: none;
      border: none
  }
  #searchInputBase {
      display: none
  }
  .setFixedMargin {
      margin-left: auto;
      max-width: 800px;
      margin-right: auto
  }
  .createNote {
      margin-left: auto;
      max-width: 530px;
      margin-right: auto;
  }
  .createNote1 {
      margin-left: auto;
      max-width: 530px;
      margin-right: auto;
  }
  #createNoteParent {
      margin-left: auto
  }
  /* #cardsViewDiv {
      margin-left: -90px
  } */
 
  .listCards {
      width: auto;
      margin-left: auto;
      margin-top: 50px;
      text-align: left;
      padding: 11px;
  }
  .cards {
      width: 240px;
      margin-top: 20px;
      margin-left: 5px;
      padding-top: 15px;
      text-align: left;
      padding: 10px;
      border-radius: 10px;
  }
  .CardsView {
      display: flex;
      justify-content: center;
      flex-wrap: wrap
  }
}

/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}